
@font-face {

font-family: "Hangyaboly";
src: url("fonts/8479.ttf");
}

html {
	min-width: 320px;
} 

body {
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	
	background-color: #fff;
}
*,
*:before,
:after 
{
	box-sizing: border-box;  /* Ширина блока с полями */
	 -moz-box-sizing: border-box; /* Для Firefox */  
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px 0;
}


/*Container
/========================*/
.container{
	width: 100%;
	max-width:1200px;
	margin: 0 auto;
	padding: 0 15px;

}

/*Header
/========================*/

.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background:rgba(255, 255, 255, 0.7);
	box-shadow: 3px 0 5px grey;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	padding: 0;
	align-items: center;
}

/*Nav
/========================*/

.nav__link {
	padding: 13px 30px;
	color: #1d1d1d;
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.75;
	transition: opacity 0.1s linear;
}
.nav__link:hover {
	color: #ffffff;
	background: #4cb6a3;
	opacity: 1;
}
.nav_tel {
	font-family: sans-serif;
	font-size: 18px;
}
.nav_tel:hover {
	text-decoration: none;
}


/*intro
/========================*/

.intro {
	display: flex;
	flex-direction: column; /* каждый новый элмент блока с новой строки*/
	justify-content: center;
	height: 750px;
	padding-top: 100px;
	background: #313550 url("../img/intro-bg2.jpg") 100% center no-repeat;
	background-size: cover;

}

.intro__inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	margin: 0 0 40px 0;
	font-family: 'Hangyaboly', sans-serif;
	font-size: 65px;
	line-height: 1.1;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;	
}
.intro__title p:nth-child(2) {
	font-size: 45px;
	font-weight: 500:;
}

.intro__subtitle {
	font-size: 30px;
	color: #fff;
	line-height: 1;
	font-weight: 500;
	margin-bottom: 150px;
}

/*button  в кнопке btn--red - модификатор
/========================*/

.btn {
	display: inline-block;
	vertical-align: top;
	font-family: inherit; /*наследование шрифта родителя*/

	padding: 20px 40px;
	border-radius: 3px;
	border: 0;
	cursor: pointer; /*у кнопки по умолчанию просто стрелочка*/
	border: solid 1px grey;
	font-size: 22px;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	transition: background-color:0.1s linear;
}
.btn--blue {
	background-color: #4cb6a3;
	border-color: #4cb6a3;
}

.btn--blue:hover {
	background: rgb(53,207,184);
	background: linear-gradient(90deg, rgba(53,207,184,1) 50%, rgba(119,198,209,1) 100%);
	border: 1px solid #ffffff;
	color: #ffffff;
	border-radius: 3px;
}
#menu__toggle {
	opacity: 0;
	position: absolute;
}

/* МОБИЛЬНОЕ МЕНЮ --- humburger-menu   */
.humburger-menu {
	display: none;
}
.menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}

.menu__btn > span,
.menu__btn >span::before,
.menu__btn >span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: white;
}

.menu__btn >span::before {
	content: ' ';
	top: -8px;
}
.menu__btn >span::after {
	content: ' ';
	top: 8px;	
}
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.menu__item:hover {
  background-color:#05a893;
  color: white;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

/*АВТОР ПРОЕКТА
/========================*/
.autor {
	margin: 0;
	padding: 50px 0 100px 0;
	background: url("../img/autor/fon-listiki-left.jpg") 100% center no-repeat;
	background-size: cover;
}
.autor_inner_grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 305px 305px;
	grid-template-areas: 
	"gr1 gr2"
	"gr3 gr4";
}

.autor_text {
	padding: 50px 50px 50px 50px;
	background: rgba(238,252,255,0.6);
	font-size: 16px;
	color: #333333;
	line-height: 1.5;
}

.autor_text p:first-child {
	font-family: 'Hangyaboly', sans-serif;
	font-size: 30px;
	color: #05a893; 
}
.gr1 {
	grid-area: gr1;
}
.gr2 {
	grid-area: gr2;
}
.gr3 {
	grid-area: gr3;
}
.gr4 {
	grid-area: gr4;
}


/*Галерея
/========================*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #05a893;
    background-color: transparent;
    border-bottom: solid 3px #05a893;
    border-radius:0;
    font-weight: 600;
}
.gallery .nav a {
color: #333333;
}
.gallery__title {
	font-family: 'Hangyaboly', sans-serif;
	color: #05a893;
	font-size: 48px;
	text-align: center;
	width: 100%;
	padding: 30px 0 50px 0;
	margin: 50px 0;
	
}
.gallery {
	padding: 0px 0 150px 0;
	
	background: rgba(238,252,255,0.6);
}
.tabcontent {
	display: inline-block;
	margin-bottom: 30px;
	padding-right: 30px;
}
.gallery__inner {
	display: flex;
	flex-wrap: wrap; /*перенос на нову строку если будет больше блоков*/
	margin:0 -15px;
}
.gallery__item > a {
	display: block;
}
.gallery__item {
	flex: 1 1 350px;
	padding: 0 15px;
	margin-bottom: 55px;
	
}
.gallery__image {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.gallery__item > a{
	position: relative; /*ДЛЯ ДИВА НА ХОВЕРЕ*/
}
.gallery__image2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
}

.gallery__image2:hover {
	opacity: 1;
}

.gallery__text {
	font-size: 16px;
	color: #333333;
	margin-bottom: 8px;
	line-height: 1.5;
}
.gallery__text a {
	text-decoration: none;
	color: #333333;
}
.text-down {
	display: flex;
	justify-content: space-between;
}

.gallery__price {
	color: #05a893;
	font-size:22px;
	font-weight: 500;
}
.tea:hover {
	transform: scale(1.05);
}
.gallery__button {
	width: 100%;
	text-align: center;
	display: inline-block;
	color: white;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 2px;
}
.btn_gal {
	display: inline-block;
	vertical-align: top;
	font-family: inherit; /*наследование шрифта родителя*/
	background-color: #ffffff;
	padding: 7px 12px;
	border-radius: 3px;
	cursor: pointer; /*у кнопки по умолчанию просто стрелочка*/
	border: solid 1px #4cb6a3;
	font-size: 14px;
	color:  #4cb6a3;
	font-weight: 400;
	text-decoration: none;
	transition: background-color:0.1s linear;

}
.btn_gal:hover {
	background: rgb(53,207,184);
	background: linear-gradient(90deg, rgba(53,207,184,1) 50%, rgba(119,198,209,1) 100%);
	border: solid 1px #ffffff;
	color: #ffffff;
	border-radius: 3px;
}

/*ПРОЦЕСС ИЗГОТОВЛЕНИЯ
/========================*/

.process {
	background: url("../img/autor/fon-listiki-right.jpg") 100% no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	border: solid 1px transparent;
}
.process_inner {
	display: flex;
	flex-wrap: nowrap;
}
.process_picture {
	flex: 1 1 585px;

}
.process_picture img {
	width: 100%;
	max-width: 500px;
	height: auto;
}

.process_text {
	display: flex;
	align-items: center;
	flex: 1 1 585px;
	padding: 50px;
	vertical-align: middle;
	font-size: 16px;
	color: #333333;
	line-height: 1.5;
}

.process_text p:first-child {
	font-family: 'Hangyaboly', sans-serif;
	font-size: 30px;
	color: #05a893; 
}

/*ФОРМА
/========================*/


.area_forma {
	background: url(../img/forma/Bg-fon.jpg) no-repeat center;
	width: 100%;
}
forma {
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.forFlowers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
	.flover-left {
	grid-column:1;
	grid-row: 1;
	background: url(../img/forma/flower-left.png) center right no-repeat;
	justify-content: flex-end;
}
.flover-right {
	grid-column:3;
	grid-row: 1;
	background: url(../img/forma/flower-right.png) center left no-repeat;
	justify-content: flex-end;
}
/*.flowers {
	position: absolute;
	left: 200px;
	top: 100px;
}*/
.forma_workarea_grid{
	grid-column:2;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	background-color: white;
	min-width: 600px;
	padding: 10px;
}
.forma_workarea_grid .d1  {
	grid-column:1/ span 2;
	grid-row: 1;
}
.forma_workarea_grid .d2 {
	grid-column:1;
	grid-row: 2;
}

.forma_workarea_grid .d3 {
	grid-column:2;
	grid-row: 2;
}

.forma_workarea_grid .d4 {
	grid-column:1;
	grid-row: 3;
}

.forma_workarea_grid .d5 {
	grid-column:2;
	grid-row: 3;
}
.forma_workarea_grid .d6 {
	grid-column:1/ span 2;
	grid-row: 4;
}
.forma_workarea_grid .d7 {
	grid-column:1;
	grid-row: 5;
}

.forma_workarea_grid > div p {
	text-align: center;
}

.forma_workarea_grid div p:first-child {
	font-family: 'Hangyaboly', sans-serif;
	font-size: 30px;
	color: #05a893; 
	padding-bottom: 20px;
}

.inputborder2 {
    margin: 15px;
    padding: 12px 20px 12px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #333333;}



input[type="text"]:focus {
    border-bottom: solid 1px red;
}

.form-btn {
	-webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
	vertical-align: top;
	font-family: inherit; /*наследование шрифта родителя*/
	padding: 15px 20px;
	border-radius: 3px;
	cursor: pointer; /*у кнопки по умолчанию просто стрелочка*/
	border: solid 1px #4cb6a3;
	font-size: 16px;
	color: #ffffff;
	background: #4cb6a3;
	font-weight: 400;
	text-decoration: none;
	transition: background-color:0.1s linear;}

.form-btn:hover {
	background: rgb(53,207,184);	
  	background: linear-gradient(90deg, rgba(53,207,184,1) 50%, rgba(119,198,209,1) 100%);
}

.form-btn:active {
  outline: none;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1)
}


footer {
	border-top: solid 3px #4cb6a3;
	padding: 50px 0;
}

.address {
	max-width: 50%;
	margin-top: 15px;
}
.address h3 {
	padding: 15px 0;
}

.address a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
}



/*@media only all and (max-width: 1200px) {
	.autor_inner_grid {
	grid-template-columns: 458px 458px;
}*/
@media only all and (max-width: 1200px) {

	.autor_inner_grid {
	grid-template-columns: 50% 50%;
	/*grid-template-rows: 1fr 1fr;*/
	}
	
	.autor_picture {
	overflow: hidden;
	max-height: 500px;
	}

	.autor_picture img {
	width: auto;

}
}

@media only all and (max-width: 916px) {

	.gallery__item {
		flex: 1 1 300px;
	}
	.autor_inner_grid {
	grid-template-columns: 50% 50%;
	/*grid-template-rows: 1fr 1fr;*/
	}
	
	.autor_picture {
	overflow: hidden;
	max-height: 250px;
	}

	.autor_picture img {
	width: auto;

	}
}
@media only all and (max-width: 1067px) {

	.gallery__inner .gallery__item:last-child{
		display: none;
	}
}

@media only all and (max-width: 916px) {

	.gallery__item {
		flex: 1 1 300px;
	}
}

@media only all and (max-width: 960px) {
	.autor_text {
		padding: 50px 10px 10px 20px;
	}
	.autor_picture {
		max-height: 400px;
	}
}

@media only all and (max-width: 720px) {
	.process_inner {
		flex-wrap: wrap;

	}
	.process_text {
		order: 1;
	}
	.process_picture {
		order: 2;
	}
	.process {
		text-align: center;
	}
	.autor_inner_grid {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "gr2" "gr1" "gr3" "gr4";

	}
	.humburger-menu {
		display: block;
	}
	.header {
		display: none;
	}
}

/*@media only all and (max-width: 1081px) {
	.process_inner {
		flex-wrap: wrap;

	}
	.process_text {
		order: 1;
		font-size: 60px;
	}
	.process_picture {
		order: 2;
	}
	.process {
		text-align: center;
	}
	.autor_inner_grid {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "gr2" "gr1" "gr3" "gr4";

	}
	.autor_text{
		padding-bottom: 50px;
		font-size: 60px;

	}
	.autor_picture {
	width: 100%;
	}	
	.autor {
		padding-bottom: 20px;
	}
	.intro__title {
		font-size: 200px;
	}
	.btn {
		font-size: 60px;
	}
	.intro__subtitle {
		font-size: 60px;
	}
	.intro {
		height:100%;
	}
*/


