
@font-face {

font-family: "Hangyaboly";
src: url("fonts/8479.ttf");
}

html {
	min-width: 320px;
} 

body {
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	
	background-color: #fff;
}
*,
*:before,
:after 
{
	box-sizing: border-box;  /* Ширина блока с полями */
	 -moz-box-sizing: border-box; /* Для Firefox */  
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px 0;
}


/*Container
/========================*/
.container{
	width: 100%;
	max-width:1200px;
	margin: 0 auto;
	padding: 0 15px;

}

/*Header
/========================*/

.header {
	width: 100%;
	background:rgba(255, 255, 255, 0.7);
	box-shadow: 3px 0 5px grey;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	padding: 0;
	align-items: center;
}

/*Nav
/========================*/

.nav__link {
	padding: 13px 30px;
	color: #1d1d1d;
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.75;
	transition: opacity 0.1s linear;
}
.nav__link:hover {
	color: #ffffff;
	background: #4cb6a3;
	opacity: 1;
}
.nav_tel {
	font-family: sans-serif;
	font-size: 18px;
}
.nav_tel:hover {
	text-decoration: none;
}


/*мастер-класс
/========================*/

.master-item {
	display: flex;
	margin: 50px 0;
	padding-bottom: 50px;
	align-content: center;

}
.m-text{
	flex: 60%;
	justify-content: center;  /* НЕ РАБОТАЕТ */
}
.m-text > h3 {
	margin-bottom: 20px;
	font-family: 'Hangyaboly', sans-serif;
	font-size: 30px;
	color: #05a893; 
}
.m-text > a {
	text-decoration: none;
	color: inherit;
}
.m-pic {
	flex: 40%;
	border: 1px solid black;
	border-color:transparent;
}
.m-pic {
	max-width: 450px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}


footer {
	border-top: solid 3px #4cb6a3;
	padding: 50px 0;
}

.address {
	max-width: 50%;
	margin-top: 15px;
}
.address h3 {
	padding: 15px 0;
}

.address a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
}
/*@media only all and (max-width: 1200px) {
	.autor_inner_grid {
	grid-template-columns: 458px 458px;
}*/
@media only all and (max-width: 1067px) {

	.gallery__inner .gallery__item:last-child{
		display: none;
	}
}

@media only all and (max-width: 916px) {

	.gallery__item {
		flex: 1 1 300px;
	}
}

@media only all and (max-width: 720px) {
	.master-item {
		flex-wrap: wrap;
		margin-bottom: 20px;

	}
	.master-item:nth-child(n+1) {
		margin-top: 20px;
	} 
	.m-name-decstop {
		display: none;
	}
	.m-name {
		display: block;
		order: 1;
		justify-content: center;
	}
	
	.m-pic {
		order: 2;
		top: 10px;
		justify-content: center;
	}

	.m-text {
		order: 3;
		margin-top: 120px;
	}

